<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219021078815-8ngsv1c97jnagothrqfaabvc0ne27ufb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219021078815-8ngsv1c97jnagothrqfaabvc0ne27ufb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219021078815-simqpn76an4rblmi1j8lcm3nssi990j5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADzmDYWtjaUzOyIJv_mJdYb_ghs145rRg</string>
	<key>GCM_SENDER_ID</key>
	<string>219021078815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.launchpad.neighbouri</string>
	<key>PROJECT_ID</key>
	<string>neighbouri</string>
	<key>STORAGE_BUCKET</key>
	<string>neighbouri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219021078815:ios:6158c1ad45b5358e42802a</string>
</dict>
</plist>